.buttonPrimary{
	-fx-min-width:150px;
	-fx-background-color:lightgreen;
        -fx-background-radius: 40;
	-fx-border-color:white;
	-fx-border-radius: 40px;
	-fx-min-height:40px;
}
#outerPane{
    -fx-background-color:white;
}
.table-view{
    -fx-base: #2A2A2A;
    -fx-control-inner-background: white;
    -fx-background-color:transparent;
    -fx-table-cell-border-color: transparent;
    -fx-padding: 1;
    -fx-selection-bar-non-focused: #008287 ;
}

.table-view .column-header-background{
    -fx-background-color: lightgreen;
    -fx-border-color: red transparent red transparent;
    -fx-border-width: 1;
    -fx-background-insets: 0;
    -fx-min-height:55px;
-fx-alignment: top-left;
}

.table-view .column-header, .table-view .filler {
    -fx-background-color: transparent;
    -fx-size: 25;
    -fx-text-fill: #d8d8d8;
}


.table-view .column-header .label {
    -fx-font-size: 13px;
    -fx-font-weight:bold;
    -fx-font-family:"Segoe UI", Helvetica, Arial, sans-serif;
    -fx-text-fill: #1b5e20;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}


.table-cell {
    -fx-font-size: 14px;
    -fx-font-family:"Segoe UI", Helvetica, Arial, sans-serif;
    -fx-text-fill: #1b5e20;
    -fx-alignment: center-left;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: #c8e6c9;
-fx-text-fill: #b9f6ca;
}

/* scroll bar starts here */

/* The increment and decrement button CSS class of scrollbar */
.table-view .increment-button ,.table-view .decrement-button {
    -fx-background-color:transparent;
	-fx-background-radius: 2em;

}

/* The main scrollbar **track** CSS class  */
.table-view .scroll-bar:horizontal .track,
.table-view .scroll-bar:vertical .track{
	-fx-background-color: transparent;
	-fx-border-color:derive( #6622CC,80%);

	-fx-background-radius: 2em;
	-fx-border-radius:2em;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.table-view .scroll-bar:horizontal .thumb,
.table-view .scroll-bar:vertical .thumb {
    -fx-background-color:derive( #6622CC,90%);
	-fx-background-insets: 2, 0, 0;
	-fx-background-radius: 2em;
}
.buttonPrimary{
	-fx-background-color:lightgreen;
        -fx-background-radius: 40;
	-fx-border-color:white;
	-fx-border-radius: 40px;
	-fx-min-height:30px;
}

.detailsVbox{
}
.customerSaveButtonGroup{
-fx-background-color:lightgreen;
 -fx-background-radius: 40;
	-fx-border-color:white;
	-fx-border-radius: 40px;
	}
.detailsVboxLabel{
-fx-font-size:14px;
}
.billingSectionHeading{
-fx-pref-width:200px;
-fx-background-color:#022f02;
}
.billingSectionHeading Label{
-fx-font-size:15px;
-fx-text-fill:white;
}
