
.labelBold {
-fx-font-family: 'Roboto';
-fx-font-size:20px;
-fx-font-weight: bold;
}

.infoPane{
-fx-background-color:linear-gradient(to bottom, #0091ea,#81bbf4 ); 
-fx-background-size: 1200 900;
    -fx-background-radius: 40 10 10 40;
    -fx-border-radius: 40 10 10 40;
}
.infoPane Label{
-fx-font-family: 'Roboto';
	-fx-text-fill: white;
}
.infoPane Button{
	-fx-text-fill: white;
	-fx-border-color:white;
}
.siginInPane{
	-fx-background-color:white;
	-fx-background-size: 1200 900;
    -fx-background-radius: 10 40 40 10;
    -fx-border-radius: 10 40 40 10;
}
.siginInButton{
-fx-font-family: 'Roboto';
	-fx-background-color: #0091ea;
	-fx-background-size: 1200 900;
	-fx-background-radius: 40;
	-fx-text-size:18px;
	-fx-min-width:250px;
	-fx-border-color:#0091ea;
	-fx-border-radius: 40px;
	-fx-min-height: 35px;
	-fx-text-fill:white;
}


.knowMoreButton{
	-fx-min-width:180px;
	-fx-background-color:transparent;
	-fx-border-color:white;
	-fx-border-radius: 40px;
	-fx-min-height:35px;
}

.infoVbox{
	
}
.split-pane-divider {

  -fx-padding: 0 ;
 -fx-background-size: 1200 900;
    -fx-background-radius: 40 40 40 40;
    -fx-border-radius: 40 40 40 40;
   
}

.buttonPrimary{
-fx-font-family: 'Roboto';
	-fx-min-width:150px;
	-fx-background-color:lightgreen;
        -fx-background-radius: 40;
	-fx-border-color:white;
	-fx-border-radius: 40px;
	-fx-min-height:40px;
}