.tab-pane *.tab-header-area *.tab-header-background {
  -fx-background-color:transparent;
}
.tab-header-area .tab{
    -fx-border-radius: 20 20 0 0;
    -fx-background-radius: 20 20 0 0;
}
.tab-pane {

  -fx-tab-min-height:38px;
  -fx-tab-max-height:38px;
  -fx-tab-border-radius: 80px;
}

.tab {
  -fx-font-family: Arial;
  -fx-font-weight:bold;
  -fx-font-size: 14;
  -fx-background-color:lightgreen;
  -fx-border-right:2px solid red;
  -fx-tab-border-radius: 80px;
}

.tab:selected {
	-fx-border-radius: 60 60 0 0;
	-fx-background-radius: 60 60 0 0;
    -fx-background-color:lightblue ;
}
.buttonPrimary{
	-fx-min-width:150px;
	-fx-background-color:lightgreen;
        -fx-background-radius: 40;
	-fx-border-color:white;
	-fx-border-radius: 40px;
	-fx-min-height:40px;
}