.tab-pane *.tab-header-area *.tab-header-background {
  -fx-background-color:transparent;
}
.tab-header-area .tab{
-fx-text-fill:white;
    -fx-border-radius: 20 20 0 0;
    -fx-background-radius: 20 20 0 0;
}
.tab-pane {
-fx-text-fill:white;
  -fx-tab-min-height:41px;
  -fx-tab-max-height:41px;
  -fx-tab-border-radius:80px;
}

.tab {
   -fx-font-family: 'Open sans', Helvetica, Arial, sans-serif;
   -fx-font-weight:bold;
  -fx-text-base-color:#383650;
  -fx-font-size: 14;
  -fx-background-color:#d2d5d8 ;
  -fx-border-right:2px solid red;
  -fx-tab-border-radius: 80px;
}

.tab:selected {
-fx-text-base-color:white;
	-fx-border-radius: 60 60 0 0;
	-fx-background-radius: 60 60 0 0;
    -fx-background-color:#383650 ;
}
.buttonPrimary{
	-fx-min-width:150px;
	-fx-background-color:#383650;
	-fx-text-fill:white;
        -fx-background-radius: 40;
	-fx-border-color:white;
	-fx-border-radius: 40px;
	-fx-min-height:40px;
}